.movie-details-container {
    width: 90%;
    max-width: 1200px; 
}

.movie-details-container > * {
    margin: 1rem;
}

.movie-details-main-section {
    display: flex;
    align-items: flex-start;
}

.movie-details-main-section > * {
    margin: 1rem;
    width: 100%;
}