.nominations-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.heading {
    text-align: left;
}

.nominations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nomination { 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.nomination > * {
    padding-right: 0.5rem;
}

@media only screen and (max-width: 600px) {

    .nominations {
        list-style: none;
    }

    .nomination > * {
        padding-right: 0;
    }
}