.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container > * {
    width: 100%;
}

.heading {
    text-align: left;
}

.nominations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nomination { 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.nomination > * {
    padding-right: 0.5rem;
}