.search-bar-container {
    min-height: 10vh;
}

.search-bar-inner {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}

.search-bar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.search {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.search-icon {
    height: 28px;
    padding: 0.2rem;
}

.search-input {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: none;
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {

    .search-bar-inner {
        margin-top: 0;
    }
}