.home-container {
    width: 90%;
    max-width: 1200px; 
}

.home-container > * {
    margin: 1rem;
}

.home-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;
  }

.main-section {
    display: flex;
    align-items: flex-start;
}

.main-section > * {
    margin: 1rem;
}

